// ==========================================================================
// Examples
// ==========================================================================

// Example players
.plyr {
  margin-bottom: 5rem;
}

.fullscreen-container {
  display: grid;
  grid-template-columns: 1fr auto;
}
