// ==========================================================================
// chapters
// ==========================================================================

$plyr-chapters-background: var(--plyr-chapters-background, rgba(#fff, 0.8)) !default;
$plyr-chapters-text-color: var(--plyr-chapters-text-color, #666) !default;

$plyr-font-size-chapters-base: $plyr-font-size-base !default;
$plyr-font-size-chapters-small: $plyr-font-size-small !default;
$plyr-font-size-chapters-medium: $plyr-font-size-large !default;
$plyr-font-size-chapters-large: $plyr-font-size-xlarge !default;
